body {
	background: rgba(0,0,0,1);
}

header {
	text-align: center;
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

header a {
	display: inline-block;
	width: 8%;
}

header img {
	width: 100%;
}

h1 {
	display: inline-block;
	color: rgba(11,228,11,1);
	font-family: 'Bungee Inline';
	font-size: 8vw;
}

h1 a {
	text-decoration: none;
	width: 100%;
	color: rgba(11,228,11,1);
}

section h1 {
	font-size: 5vw;
}

button {
	background: rgba(0,0,0,0);
}

#hamburger {
	border: rgba(11,228,11,1) 3px solid;
	border-radius: 5px;
	width: 7vw;
	height: 4vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.line {
	border: rgba(11,228,11,1) 1px solid;
	width: 50%;
	height: 0;
}

#mobile-menu {
	display: flex;
	visibility: hidden;
	position: absolute;
	top: 450%;
	left: -50%;
	transform: translate(-50%, -50%);
	border: rgba(11,228,11,1) 3px solid;
	width: 30vw;
	height: 30vw;
	background: rgba(0,0,0,1);
	z-index: 1;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.dropdown {
	text-decoration: none;
	font-size: 250%;
	color: rgba(11,228,11,1);
	width: 100%;
}

.full-nav {
	display: none;
}

nav {
	display: inline-block;
	position: relative;
}

section {
	text-align: center;
	padding: 0% 0 5% 0;
	color: rgba(11,228,11,1);
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	font-size: 1.7em;
}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
}

input {
	border-radius: 10px;
	margin-bottom: 5%;
	font-size: 5em;
}

input[type="date"] {
	width: 100%;
	font-size: 5em;
}

input[type="submit"] {
	border-radius: 0px;
}

video {
	width: 80%;
}

footer {
	text-align: center;
	margin: 0% 0% 0% 0%;
}

footer a {
	display: inline;
	color: rgba(11,228,11,1);
	font-family: 'Bungee Inline';
	font-size: 4vw;
	text-decoration: none;
}

footer nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

@media screen and (min-width: 688px) {
	nav {
		display: none;
	}

	.full-nav {
		display: flex;
		flex-direction: row;
		position: static;
		justify-content: space-evenly;
		width: 30%;
	}

	nav a {
		width: 100%;
		font-size: 3vw;
		text-decoration: none;
		color: rgba(11,228,11,1);
		font-family: 'Bungee Inline';
	}
}
